{% extends 'base.html' %}

{% block content %}

<div class="alert alert-success" style="text-align: center;">
    <h3 style="font-weight: bolder;"> Analysis of <a href="{{ uploaded_file_url }}">{{ uploaded_file_name }}</a> </h3>
</div>

<!--<div id="chart_div"></div>-->

<h4 style="font-weight: bold; margin-top:3%;">Protocol Hierarchy Analysis</h4>

<div id="chartContainer">FusionCharts XT will load here!</div>


<h4 style="font-weight: bold; margin-top:3%;">Advanced Analysis</h4>

<div style="text-align: center;">

    <button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="arp">ARP Analysis</button>
    <button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="darknet">Darknet Analysis</button>
    <button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="dhcp">DHCP Analysis</button>
    <button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="dns">DNS Analysis</button>
    <button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="port_scanning">Port Scanning Analysis</button>
    <button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="smtp">SMTP Analysis</button>

</div>

{% endblock %}


{% block head-javascript %}

    {{ block.super }}

    <script type="text/javascript">
        var advAnalysis = function() {
            //alert(this.value);
            location.href = this.value + '.html';
        }
     
        var btnsAnalyse = document.getElementsByClassName("btn-analyse");
        for (var i = 0; i < btnsAnalyse.length; i++) {
            btnsAnalyse[i].addEventListener('click', advAnalysis, false);
        }

        FusionCharts.ready(function() {
            var revenueChart = new FusionCharts({
                "type": "column2d",
                "renderAt": "chartContainer",
                "width": "500",
                "height": "300",
                "dataFormat": "json",
                "dataSource": {
                    "chart": {
                        "caption": "Monthly revenue for last year",
                        "subCaption": "Harry's SuperMart",
                        "xAxisName": "Month",
                        "yAxisName": "Revenues (In USD)",
                        "theme": "fint"
                    },
                    "data": [{
                            "label": "Jan",
                            "value": "420000"
                        },
                        {
                            "label": "Feb",
                            "value": "810000"
                        },
                        {
                            "label": "Mar",
                            "value": "720000"
                        },
                        {
                            "label": "Apr",
                            "value": "550000"
                        },
                        {
                            "label": "May",
                            "value": "910000"
                        },
                        {
                            "label": "Jun",
                            "value": "510000"
                        },
                        {
                            "label": "Jul",
                            "value": "680000"
                        },
                        {
                            "label": "Aug",
                            "value": "620000"
                        },
                        {
                            "label": "Sep",
                            "value": "610000"
                        },
                        {
                            "label": "Oct",
                            "value": "490000"
                        },
                        {
                            "label": "Nov",
                            "value": "900000"
                        },
                        {
                            "label": "Dec",
                            "value": "730000"
                        }
                    ]
                }

            });
            revenueChart.render();
        })

    </script>


{% endblock %}
