{% extends 'base.html' %}

{% block content %}

 <div style="text-align: center; margin-top: -40px;"> 
 <h3 style="font-weight: bolder;">Interdisciplinary Centre for Cyber Security and Cyber Defence of Critical Infrastructures, IIT Kanpur</h3> 
 </div> 


<!-- <h4 style="font-weight: bold; margin-top:3%;">Protocol Hierarchy Analysis</h4> -->

<div>

    <div id="protocols-hierarchy-container" style="float: left;">Protocols Hierarchy Container</div>
    <div id="protocols-distribution">Protocols Distribution</div>

</div>

<div>
    <div id="protocols-time-series-div"></div>
</div>


<!--<div style="position: absolute; top: 0; right: 0;">-->
<!--<h4 style="font-weight: bold; margin-top:3%;">Advanced Analysis</h4>-->

    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="arp">ARP Analysis</button>-->
    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="darknet">Darknet Analysis</button>-->
    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="dhcp">DHCP Analysis</button>-->
    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="dns">DNS Analysis</button>-->
    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="dos">DoS Analysis</button>-->
    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="port_scanning">Port Scanning Analysis</button>-->
    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="sessions">Sessions Analysis</button>-->
    <!--<button type="button" class="btn btn-secondary btn-lg btn-info btn-analyse" value="smtp">SMTP Analysis</button>-->


<!--</div>-->

{% endblock %}


{% block head-javascript %}

    {{ block.super }}

    <script type="text/javascript">
        FusionCharts.ready(function(){
            var fusioncharts = new FusionCharts({
                type: 'multilevelpie',
                renderAt: 'protocols-hierarchy-container',
                width: '400',
                height: '400',
                dataFormat: 'json',
                dataSource: {{ protocols_analysis_data_source|safe }}
            });
            fusioncharts.render();
        });

    </script>

    <script type="text/javascript">
        FusionCharts.ready(function () {
            var topStores = new FusionCharts({
                type: 'bar2D',
                renderAt: 'protocols-distribution',
                width: '700',
                height: '400',
                dataFormat: 'json',
                dataSource: {{ protocol_stats_data_source|safe }}
        })
        .render();
    });
    </script>

    <script type="text/javascript">
        FusionCharts.ready(function(){
            var fusioncharts = new FusionCharts({
            type: 'msline',
            renderAt: 'protocols-time-series-div',
            width: '100%',
            height: '400',
            dataFormat: 'json',
            dataSource: {{ protocols_time_series_data|safe }}
        });
    fusioncharts.render();
    });
    </script>

{% endblock %}
