{% extends 'base.html' %}

{% block content %}

{% if ip_mac_mappings %}
 <div id="accordion">
    
    {% for ip_mac_mapping in ip_mac_mappings %}
    <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
          {{ ip_mac_mapping.ip }}
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
        {% for mac in ip_mac_mapping.mac %}
      <div class="card-body">
          {{ mac }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

</div> 
{% endif %}


{% endblock %}
