{% extends 'base.html' %}

{% if chart_dict_all %}

{% block content %}

<div id="arp-line-series">FusionCharts XT will load here!</div>

{% endblock %}

{% block head-javascript %}

    {{ block.super }}
    {% for chart_dict in chart_dict_all %}
    <script type="text/javascript">
    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'msline',
    renderAt: 'arp-line-series',
    width: '80%',
    height: '60%',
    dataFormat: 'json',
    dataSource: {{ chart_dict|safe }}
    });
    fusioncharts.render();
    });
    </script>
{% endfor %}

{% endblock %}

{% endif %}
