{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">IP Address</th>
      <th scope="col">MAC Addresses</th>
      <th scope="col">Timestamps</th>
    </tr>
  </thead>
  <tbody>
    {% if ip_mac_mappings %}
    {% for ip_mac_mapping in ip_mac_mappings %}
    <tr>
        <td>
            <div style="">{{ ip_mac_mapping.ip }}</div>
        </td>
        <td>
            {% for mac in ip_mac_mapping.mac %}
            <div>{{ mac }}</div>
            {% endfor %}
        </td>
        <td>
            {% for timestamp in ip_mac_mapping.timestamp %}
            <div>{{ timestamp }}</div>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock %}
