{% extends 'base.html' %}

{% block content %}

<h2>Darknet Profiling</h2>
<div style="text-align: center;">
    <div id="packets-distribution" style="float: left;">Packets Distribution</div>

    <div id="protocols-distribution" style="float: right;">Protocols Distribution</div>

    <div id="src-ip-class-distribution" style="float: left;">Source IP Class Distribution</div>

    <div id="dst-ip-class-distribution" style="float: right;">Destination IP Class Distribution</div>
</div>

<div id="targeted-ports" style="text-align: center;">
    <div id="tcp-targeted-ports"></div>
    <div id="udp-targeted-ports"></div>
</div>

{% endblock %}

{% block head-javascript %}

    {{ block.super }}

{% if packets_dist %}
    <script type="text/javascript">
    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'packets-distribution',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Packets Distribution",
            "numberSufix": "%",
            "showBorder": "1",
            "use3DLighting": "0",
            "enableSmartLabels": "0",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": "Total: 100%",
            "centerLabel": "$label: $value%",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "floats": "1",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": {{ packets_dist|safe }}
    }
    });
    fusioncharts.render();
    });
    </script>
{% endif %}

{% if protocols_dist %}
    <script type="text/javascript">
    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'protocols-distribution',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Protocols Distribution",
            "numberSufix": "%",
            "showBorder": "1",
            "use3DLighting": "0",
            "enableSmartLabels": "0",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": "Total: 100%",
            "centerLabel": "$label: $value%",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": {{ protocols_dist|safe }}
}
});
    fusioncharts.render();
    });
    </script>
{% endif %}

{% if src_ip_class_dist %}
    <script type="text/javascript">
    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'src-ip-class-distribution',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Source IP Class Distribution",
            "numberSufix": "%",
            "showBorder": "1",
            "use3DLighting": "0",
            "enableSmartLabels": "0",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": "Total: 100%",
            "centerLabel": "$label: $value%",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": {{ src_ip_class_dist|safe }}
    }
}
);
    fusioncharts.render();
    });
    </script>
{% endif %}

{% if dst_ip_class_dist %}
    <script type="text/javascript">
    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'dst-ip-class-distribution',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Destination IP Class Distribution",
            "numberSufix": "%",
            "showBorder": "1",
            "use3DLighting": "0",
            "enableSmartLabels": "0",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": "Total: 100%",
            "centerLabel": "$label: $value%",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": {{ dst_ip_class_dist|safe }}
    }
}
);
    fusioncharts.render();
    });
    </script>
{% endif %}

<!--********************************************-->
{% if tcp_targeted_ports %}
<script type="text/javascript">
    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'column2d',
    renderAt: 'tcp-targeted-ports',
    width: '550',
    height: '350',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "TCP Targeted Ports",
            "xAxisName": "Ports",
            "yAxisName": "Packets Count",
            "numberPrefix": "",
            "paletteColors": "#0075c2",
            "bgColor": "#ffffff",
            "borderAlpha": "20",
            "canvasBorderAlpha": "0",
            "usePlotGradientColor": "0",
            "plotBorderAlpha": "10",
            "placevaluesInside": "1",
            "rotatevalues": "1",
            "valueFontColor": "#ffffff",
            "showXAxisLine": "1",
            "xAxisLineColor": "#999999",
            "divlineColor": "#999999",
            "divLineIsDashed": "1",
            "showAlternateHGridColor": "0",
            "subcaptionFontBold": "0",
            "subcaptionFontSize": "14"
        },
        "data": {{ tcp_targeted_ports|safe }}
    }
});
    fusioncharts.render();
    });
</script>
{% endif %}

{% if udp_targeted_ports %}
<script type="text/javascript">
    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'column2d',
    renderAt: 'udp-targeted-ports',
    width: '550',
    height: '350',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "UDP Targeted Ports",
            "xAxisName": "Ports",
            "yAxisName": "Packets Count",
            "numberPrefix": "",
            "paletteColors": "#0075c2",
            "bgColor": "#ffffff",
            "borderAlpha": "20",
            "canvasBorderAlpha": "0",
            "usePlotGradientColor": "0",
            "plotBorderAlpha": "10",
            "placevaluesInside": "1",
            "rotatevalues": "1",
            "valueFontColor": "#ffffff",
            "showXAxisLine": "1",
            "xAxisLineColor": "#999999",
            "divlineColor": "#999999",
            "divLineIsDashed": "1",
            "showAlternateHGridColor": "0",
            "subcaptionFontBold": "0",
            "subcaptionFontSize": "14"
        },
        "data": {{ udp_targeted_ports|safe }}
        }
    });
    fusioncharts.render();
    });
</script>
{% endif %}

{% endblock %}
