{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% if ping_attack_list %}
{% for ping_attack_info in ping_attack_list %}
<div class="row dos-connection-info">
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
    <div class="col-6" style="padding-top: 30px;">
        <div class="dos-connection-line"></div>
    </div>
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
</div>
<div class="row dos-connection-info">
    <div class="col-3">
        <p><b>Victim IP: </b></p>
    </div>
    <div class="col-6">
        <p><b>Attack Type: </b>Ping Death</p>
    </div>
    <div class="col-3">
        <p><b>Attacker IP: </b></p>
    </div>
</div>
{% endfor %}

{% endif %}


{% if land_attack_list %}
{% for land_attack_info in land_attack_list %}
<div class="row dos-connection-info">
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
    <div class="col-6" style="padding-top: 30px;">
        <div class="dos-connection-line"></div>
    </div>
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
</div>

<div class="row dos-connection-info">
    <div class="col-3">
        <p><b>Victim IP: </b></p>
    </div>
    <div class="col-6">
        <p><b>Attack Type: </b>Land Attack</p>
    </div>
    <div class="col-3">
        <p><b>Attacker IP: </b></p>
    </div>
</div>

{% endfor %}
{% endif %}

{% if mail_attack_list %}
{% for mail_attack_info in mail_attack_list %}
<div class="row dos-connection-info">
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
    <div class="col-6" style="padding-top: 30px;">
        <div class="dos-connection-line"></div>
    </div>
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
</div>

<div class="row dos-connection-info">
    <div class="col-3">
        <p><b>Victim IP: </b></p>
    </div>
    <div class="col-6">
        <p><b>Attack Type: </b>Mail Bomb Attack</p>
    </div>
    <div class="col-3">
        <p><b>Attacker IP: </b></p>
    </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
