{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% if port_scanning_dicts %}
{% for port_scanning_dict in port_scanning_dicts %}

<div class="row port-scanning-info">
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
    <div class="col-6" style="padding-top: 30px;">
        <div class="port-scanning-line"></div>
    </div>
    <div class="col-3">
        <img src="{% static 'img/desktop.png' %}">
    </div>
</div>


<div class="row port-scanning-info">
    <div class="col-3">
        <p><b>Attacker IP: </b>{{ port_scanning_dict.attacker_ip }}</p>
    </div>
    <div class="col-6">
        <p><b>Ports count: </b>{{ port_scanning_dict.ports_count }}</p>
        <p><b>Category: </b>{{ port_scanning_dict.category }}</p>
        <p><b>Scan start time: </b>{{ port_scanning_dict.start_time }}</p>
        <p><b>Scan end time: </b>{{ port_scanning_dict.end_time }}</p>
        <p><b>Ports</b></p>
        <div class="scrollmenu">
            {{ port_scanning_dict.scanned_ports }}
        </div>
    </div>
    <div class="col-3">
        <p><b>Victim IP: </b>{{ port_scanning_dict.victim_ip }}</p>
    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}
